



* {
    color: black;
    font-family: Verdana, "Dejavu Sans", sans-serif;
    
}

#Centered {
    text-align: center;
}


p {
    font-size: 16px;
}

.background {
    background-image: url(1200pxkitchen.jpeg);
    background-size: cover;
}

img {
    height: auto;
    width: 300px;
}

a {
    color: blue;
  
}

.mff-btn {
    background-color: yellow;
}

