
#Background {
    background-color:gray;
}
h1 {
    color: black;
    font-family: Verdana, "Dejavu Sans", sans-serif;
    text-align: center;
}

#Centered {
    text-align: center;
}

p,
button {
    color: black;
    font-size: 24px;
    text-align: center;
}

button {
    background-color: yellow;
}