



* {
    color: black;
    font-family: Verdana, "Dejavu Sans", sans-serif;
    
}

#Centered {
    text-align: center;
}

#buttons button, button a {
    background-color: yellow;
    font-size: 20px;
    color: black;
}

p {
    font-size: 16px;
}

.background {
    background-image: url(1200pxkitchen.jpeg);
    background-size: cover;
}

img {
    height: auto;
    width: 300px;
}

a {
    color: blue;
}


